body {
  background: lightgrey;
}

a {
  color: #77C043;
}

h2 {
  color: #77C043;
}

footer {
  padding: 25px;
  background-color: #050505;
  color: white;
}

form.formeditar input[type="text"] {
  width: 80%;
  height: 2%;
  padding: 13px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
form.formeditar input[type="email"] {
  width: 80%;
  height: 2%;
  padding: 13px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
form.formeditar input[type="date"] {
  width: 40%;
  height: 8%;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}